<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    <link rel="stylesheet" href="/static/css/post.css">
</head>
<body>
    <div>
        <h2><%= data.name %></h2>
        <p><%= data.description %></p>
        <p><%= data.time %></p>
        <p><%= data.author %></p>
        <button value='<%= data.id %>'>Delete</a>
        <script>
            const deleteLink = document.querySelector("button");
            deleteLink.addEventListener("click", (event) => {
                // event.preventDefault();

                fetch(`/post/delete/${deleteLink.value}`, {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json'  
                    }
                })
                window.location.replace('/post/all')
            })
        </script>
    </div>
</body>
</html>